<header>
    <div class="title__text--container">
        <h1 class="title__text"> <a href="/api">E-Commerce</a></h1>
    </div>
    <div class="search-bar">
       <form method="get">
        <label for="search">Buscar Producto:</label>
            <input type="search" name="search" id="search">
            <button class="search-btn"><i class="bi bi-search"></i></button>
       </form>
    </div>
    <nav class="navigation">
        <a href="/api/carts">CARRITO</a>
        <a href="/api/chat">CONTACTO</a>
        <a href="/api/realtimeproducts">PRODUCTOS</a>
    </nav>
</header>
<main>
    {{#each products}}
        <div class="products__container">
            <div class="products__img-container">
                <img class="product__img" src="{{this.thumbnail}}">
            </div>
            <div class="products__texts">
                <h2 class="product__title">Producto: {{this.title}}</h2>
                <h3 class="product__description">{{this.description}}</h3>
                <h3 class="product__price">Precio: {{this.price}}</h3>
                <h3 class="product__stock">Disponibles: {{this.stock}}</h3>
            </div>
        </div>
    {{/each}}
</main>
<footer>
    
</footer>

{{!-- Cambiar los px a unidades % --}}