<header>
    <div class="title__text--container">
        <h1 class="title__text">E-Commerce</h1>
    </div>
    <div class="search-bar">
       <form method="get">
        <label for="search">Buscar Producto:</label>
            <input readonly type="search" name="search" id="search">
            <button disabled class="search-btn"><i class="bi bi-search"></i></button>
       </form>
    </div>
    <nav class="navigation">
        <a href="/carts">CARRITO</a>{{!-- Si no est치 logueado redirigir a login o register, si est치 registrado acceder--}}
        <a href="/chat">CONTACTO</a>{{!-- S칩lo valido si el usuario est치 logueado --}}
        <a href="/realtimeproducts">PRODUCTOS</a>{{!-- {{#if user.role == "admin" mostrar, si no, pos no}} --}}
    </nav>
</header>
<main>
    <div class="products__container">
        <div class="products__img-container">
            <img class="product__img" src="{{product.thumbnail}}">
        </div>
    <div class="products__texts">
        <h2 class="product__title">Producto: {{product.title}}</h2></a>
            <h3 class="product__price">Precio: {{product.price}}</h3>
            <h3 class="product__description">{{product.description}}</h3>
            <h3 class="product__stock">Disponibles: {{product.stock}}</h3>
    </div>
        <form action="#" id="newProduct">
            <div class="add-button-container">
                <button disabled class="add-button" id="addButton" value="{{product._id}}"><i class="bi bi-cart"></i></button>
            </div>
        </form>
    </div>
</main>
<script src="/static/js/{{script}}"></script>